body {
	background-color: #96cced;
	background-image: url("../img/potty2.png");
	background-size: 50px;
}
h1 {
	background-color: #fae2c6;
	color: #38195c;
	text-align: center;
	border: double #38195c;

}
h2 {
	background: #f5d25a; 
	color: #5c2d93; 
	text-align: center; 
	border: 1px dashed blue;
}
h3 {
	background-color: #9becb7;
	color: #6a28b9;
	text-align: center;
	border: ridge;
}
h4 {
	background-color: #6dc56f;
	color: #9a37c9;
	text-align: center;
	border: 2px dotted green;
}
h5 {
	background-color: #5ca4ed;
	color: #aa68f9;
	text-align: center;
	border: solid blue;
}
h6 {
	background-color: pink;
	color: #bc52ef;
	text-align: center;
	border: outset red;

}
.kep-kerettel {
	border: 2px solid black;
}
.macskak {
	height: 120px;
	background-image: url(../img/minta-cica.png);
	background-repeat: repeat-x;
	background-size: contain;
}
